h1{
	font-family: Roboto, sans-serif;
	font-weight: 600;
	font-size: 35px;
	color: #00158a;
	position: absolute;
	top: 310px;
  	left: 50%;
  	transform: translate(-50%, 0);
}

h1.lift{
	font-size: 50px;
	top: 350px;
}
.left{
	position: fixed;
	background-color: #ffa6c4;
	width: 40%;
	height: 100%;
	top: 0;
	left: 0;
}

.right{
	position: fixed;
	background-color: #00158a;
	width: 60%;
	height: 100%;
	top: 0;
	right: 0;

}

.rocket{
	position: absolute;
	left: 50%;
	bottom: 40px;
	width: 20px;
	height: 100px;
	background-color: #ffa6c4;
	transition: bottom 2500ms; 
	transition-timing-function: cubic-bezier(.87,0,.85,.48);
}

body.body-state1 .rocket{
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}

.ground{
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
}

a{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 420px;
	height: 80px;
	width: 200px;
	background-color:#00158a;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 25px;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 80px;
}


a:hover{
	background-color: #000d54;
	transition: color, 500ms;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

@media only screen and (max-width: 1180px) {
.left{
	position: fixed;
	background-color: #ffa6c4;
	height: 30%;
	width: 100%;
	top: 70%;
	bottom: 0;
}

.right{
	position: fixed;
	background-color: #00158a;
	height: 70%;
	width: 100%;
	top: 0%;
	}

h1{
	top: 60px;
	font-size: 30px;
}

h1.lift{
	top: 90px;
}

a{
	top: 150px;
}

}

